
.search-item{
    width: 100%;
    background-color: var(--black);
}


.search {
    width: 100%;
    height: 5rem;
    margin: 0;
    font-size: medium;
    margin-bottom: 2rem;
    padding: 1rem;
    color: var(--secondary);
    border: none;
    border-radius: 10px;
    background-color: var(--dark-gray);
    box-sizing: border-box;
}

.search:focus{
    border: 1px solid var(--secondary-dark);
}

.search::placeholder{
    font-size: medium;
    color: var(--secondary-dark);
}

