.checkbox {
  margin-right: 1rem;
  width: 1rem;
}

.container-item {
  color: white;
  margin-top: 0.5rem;
  width: 80%;
  padding: 1rem;
  list-style: none;
  text-decoration: none;
  background-color: var(--black);
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  outline: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  box-sizing: border-box;
}

.container-item:hover {
  background-color: var(--secondary-dark);
}

.item {
  flex-grow: 2;
}

.item-done {
  background-color: var(--secondary-dark);
  text-decoration: line-through;
}

.btn-delete {
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  background-color: transparent;
}

.btn-delete:hover{
  background-color: var(--black);
}

.no-display {
  display: none;
}

input:focus {
  outline: none;  
} 
